<div
  class="relative overflow-x-auto shadow-md sm:rounded-lg"
  *ngIf="!isLoading"
>
  <div class="max-w-full overflow-hidden">
    <h1 class="text-2xl text-gray-900 dark:text-gray-900 p-3">Partitions</h1>
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Sr No</th>
          <th scope="col" class="px-6 py-3">
            Partition Name
            <a href="#">
              <i class="fas fa-sort ms-1.5"></i>
            </a>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Created On</div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Updated On</div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Action</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b dark:bg-gray-900 dark:border-gray-800"
          *ngFor="let partition of partitions; let i = index"
        >
          <td class="px-6 py-4">{{ i + 1 }}</td>
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ partition.partitionName }}
          </th>
          <td class="px-6 py-4">
            {{
              partition.partitionCreatedOn
                | date : "dd/MM/yyyy HH:mm:ss" : "IST"
            }}
            IST
          </td>
          <td class="px-6 py-4">
            {{
              partition.partitionUpdatedOn
                | date : "dd/MM/yyyy HH:mm:ss" : "IST"
            }}
            IST
          </td>
          <td class="px-6 py-4 text-left">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >
              <i class="fas fa-edit"></i>
            </a>
            <a
              href="#"
              class="font-medium text-red-600 dark:text-red-500 hover:underline ml-2"
            >
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
