<div
  class="min-h-screen flex items-center justify-center bg-login-bg bg-cover bg-center"
>
  <div
    class="backdrop-filter backdrop-blur-lg bg-white bg-opacity-10 border border-white border-opacity-30 rounded-2xl p-8 shadow-lg w-full max-w-sm"
  >
    <h2 class="text-3xl font-bold mb-6 text-center text-white">
      Forgot Password
    </h2>
    <form
      #forgotPasswordForm="ngForm"
      (ngSubmit)="onForgotPassword(forgotPasswordForm)"
    >
      <div class="mb-4">
        <label class="block text-white text-sm mb-2" for="email">Email</label>
        <input
          class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="email"
          placeholder="Enter your email"
          autocomplete="email"
          [(ngModel)]="inForgotPasswordDto.Email"
          name="ClientEmail"
          #clientEmail="ngModel"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
        />
        <div
          *ngIf="
            clientEmail.invalid && (clientEmail.dirty || clientEmail.touched)
          "
          class="text-red-500 text-xs mt-1"
        >
          <div *ngIf="clientEmail.errors?.['required']">Email is required.</div>
          <div *ngIf="clientEmail.errors?.['pattern']">
            Enter a valid email address.
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Submit
        </button>
        <button
          class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
          type="button"
          (click)="navigateToLogin()"
        >
          Back
        </button>
      </div>
    </form>
    <app-loader *ngIf="isLoading"></app-loader>
  </div>
</div>
