<aside
  id="sidebar-multi-level-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  [class.transform-none]="sidebarOpen"
  aria-label="Sidebar"
>
  <!-- Hamburger icon for mobile -->
  <div class="sm:hidden">
    <button
      type="button"
      class="fixed top-0 left-0 z-50 flex items-center justify-center w-12 h-12 mt-4 ml-4 text-gray-900 transition duration-75 bg-gray-100 rounded-lg hover:bg-gray-200"
      (click)="toggleSidebar()"
    >
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <!-- Sidebar content -->
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-900">
    <!-- Sidebar items -->
    <ul class="space-y-2 font-medium">
      <li>
        <a
          (click)="navigateDashboard()"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <i
            class="fas fa-tachometer-alt w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true"
          ></i>
          <span class="ml-3">Dashboard</span>
        </a>
      </li>
      <li>
        <ul class="space-y-2 font-medium">
          <li>
            <button
              type="button"
              (click)="toggleUserManagementDropdown()"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              aria-controls="dropdown-example"
              data-collapse-toggle="dropdown-example"
            >
              <i
                class="fa-solid fa-user-shield w-5 h-5 flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true"
              ></i>
              <span class="flex-1 ml-3 text-left whitespace-nowrap"
                >User Management</span
              >
              <i class="fas fa-angle-down w-4 h-4" aria-hidden="true"></i>
            </button>
            <ul
              *ngIf="userManagementDropdownOpen"
              id="dropdown-example"
              class="py-2 space-y-2"
            >
              <li>
                <button
                  (click)="navigateToPartitions()"
                  class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-6 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                >
                  <i
                    class="fa-solid fa-people-roof w-5 h-5 flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white mr-2"
                    aria-hidden="true"
                  ></i>
                  Partitions List
                </button>
              </li>
              <li>
                <button
                  (click)="navigateToGroups()"
                  class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-6 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                >
                  <i
                    class="fa-solid fa-users-rectangle w-5 h-5 flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white mr-2"
                    aria-hidden="true"
                  ></i>
                  Groups List
                </button>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-6 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                >
                  <i
                    class="fa-solid fa-users w-5 h-5 flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white mr-2"
                    aria-hidden="true"
                  ></i>
                  Active Users List
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-6 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                >
                  <i
                    class="fa-solid fa-users-slash w-5 h-5 flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white mr-2"
                    aria-hidden="true"
                  ></i>
                  Deleted Users List
                </a>
              </li>
            </ul>
          </li>
          <!-- Other sidebar items -->
        </ul>
      </li>
    </ul>
  </div>
</aside>
